body {
    background-color: #FEC7D7;
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6, span, p {
   -moz-user-select: none; 
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none; 
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

#logo-big {
    animation-duration: 5s;
    animation-name: logoBigger;
}

@keyframes logoBigger {
    from {
      width: 31px;
    }
  
    to {
      width: 155px;
    }
}

.content-waiting {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-waiting {
    text-align: center;
    color: #535353;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.005em;
    margin-left: 10px;
    margin-right: 10px;
}

.title-waiting {
    color: #0E172C;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: 8px 0px;
}

.img-animals-waiting {
    margin: 33px 0px;
}

.btn-next-waiting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin-bottom: 15px;
    background-color: #0E172C;
    color: #FFF;
    text-decoration: none;
    border-radius: 98px;
    width: 80%;
    height: 30px;
    position: sticky;
    bottom: 20px;
}

.title-select-options {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #0E172C;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.subtitle-select-options {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E172C;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.container-select {
    flex-grow: 1;
    width: 100%;
}

.container-menu {
    box-sizing: border-box;
    background-color: #FFF;
    height: 72px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    position: sticky;
    bottom: 0;
    z-index: 50;
}

.menu-active {
    text-decoration: none;
    background-color: #0E172C;
    color: #85D1CE;
    border-radius: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    position: static;
    width: 102px;
    height: 35px;
}

.menu-img-active {
    margin-right: 10px;
}

.container-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 20px;
    justify-content: space-around;
}

.category {
    background-color: #0E172C;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    width: 156px;
    height: 60px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.category-inactive {
    opacity: 0.5;
}

.category:hover {
    cursor: pointer;
}

.container-img-category {
    width: 64px;
    height: 64px;
    background: #85D1CE;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-category {
    width: 40px;
}

.name-category {
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    margin-left: 10px;
}

#container-pets-list {
    display: grid;
    grid-template-columns: repeat(2, 156px);
    grid-gap: 10px;
    justify-content: space-around;
    padding: 0px;
    margin: 0px 20px;
}

.level-1 {
    grid-row-end: span 2;
}

.level-2 {
    grid-row-end: span 1;
}

.pet {
    width: 156px;
    height: 250px;
    flex-grow: 0;
    margin: 24px 0px;
    position: relative;
}

.pet:hover {
    cursor: pointer;
}

.background-pet {
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 26.42%, #000000 99.33%);
    border-radius: 16px;
    width: 156px;
    height: 250px;
    z-index: 10;
}

.img-pet {
    width: 156px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
    z-index: -1;
    filter: linear-gradient(180deg, rgba(255, 255, 255, 0) 26.42%, #000000 99.33%);
}

.pet-name {
    position: absolute;
    bottom: 30px;
    left: 10px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.005em;
    z-index: 20;
}

.pet-race {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.005em;
    z-index: 20;
}

@media (min-width: 600px) {
    #container {
        width: 400px;
        border: 5px solid #0E172C;
        border-radius: 20px;
    }

    .container-menu {
        border-radius: 0px 0px 20px 20px;
    }
}