body {
    background-color: #FEC7D7;
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6, span, p, img {
   -moz-user-select: none; 
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none; 
}

.hidden {
    display: none;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

#logo-big {
    animation-duration: 5s;
    animation-name: logoBigger;
}

@keyframes logoBigger {
    from {
      width: 31px;
    }
  
    to {
      width: 155px;
    }
}

.content-waiting {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-waiting {
    text-align: center;
    color: #535353;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.005em;
    margin-left: 10px;
    margin-right: 10px;
}

.title-waiting {
    color: #0E172C;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: 8px 0px;
}

.img-animals-waiting {
    margin: 33px 0px;
}

.btn-next-waiting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin-bottom: 15px;
    background-color: #0E172C;
    color: #FFF;
    text-decoration: none;
    border-radius: 98px;
    width: 80%;
    height: 30px;
    position: sticky;
    bottom: 20px;
}

.title-select-options {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #0E172C;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.subtitle-select-options {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E172C;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.container-select {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
}

.container-menu {
    box-sizing: border-box;
    background-color: #FFF;
    height: 72px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    position: sticky;
    bottom: 0;
    z-index: 50;
}

.menu-active {
    text-decoration: none;
    background-color: #0E172C;
    color: #85D1CE;
    border-radius: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    position: static;
    width: 102px;
    height: 35px;
}

.menu-img-active {
    margin-right: 10px;
}

#container-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 20px;
    justify-content: space-around;
}

.category {
    background-color: #0E172C;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    width: 156px;
    height: 60px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.category-inactive {
    opacity: 0.5;
}

.category:hover {
    cursor: pointer;
}

.container-img-category {
    width: 64px;
    height: 64px;
    background: #85D1CE;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-category {
    width: 40px;
}

.name-category {
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    margin-left: 10px;
}

#container-pets-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    margin: 0px 20px;
}

.level-1 {
    padding: 0px;
}

.level-2 {
    padding: 0px;
    margin-top: 40px !important;
}

.pet {
    width: 156px;
    height: 250px;
    margin: 10px 0px;
    position: relative;
}

.pet:hover {
    cursor: pointer;
}

.background-pet {
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 26.42%, #000000 99.33%);
    border-radius: 16px;
    width: 156px;
    height: 250px;
    z-index: 10;
}

.img-pet {
    width: 156px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
    z-index: -1;
    filter: linear-gradient(180deg, rgba(255, 255, 255, 0) 26.42%, #000000 99.33%);
}

.pet-name {
    position: absolute;
    bottom: 30px;
    left: 10px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.005em;
    z-index: 20;
}

.pet-race {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.005em;
    z-index: 20;
}

.container-img-details {
    position: relative;
    width: 100%;
    height: 442px;
    z-index: 5;
}

.img-details {
    width: 100%;
    height: 455px;
    object-fit: cover;
}

.link-back {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0E172C;
    border-radius: 100%;
    width: 44px;
    height: 44px;
}

.container-details {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 20px;
    background-color: #FFF;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    z-index: 10;
    position: relative;
}

.details-basics {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.details-name-favorite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.details-name-gender {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    align-self: stretch;
}

.name-details {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #0E172C;
    margin: 0 8px;
}

.favorite-details {
    width: 48px;
    height: 48px;
    background-color: #FFF;
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.favorite-details:hover > .img-favorite {
    opacity: 100%;
}

.img-favorite {
    opacity: 50%;
}

.img-favorite-active {
    opacity: 100%;
}

.favorite-details:hover {
    cursor: pointer;
}

.details-race-age {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.details-race {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.details-age {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.txt-details {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.005em;
    color: #535353;
    margin-left: 7px;
}

.details-address {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.details-personality {
    display: flex;
    flex-direction: column;
}

.personality-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #0E172C;
    margin-bottom: 5px;
}

.personalities-list-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.personality-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #FFF;
    border: 2px solid #A786DF;
    box-sizing: border-box;
    border-radius: 8px;
    width: 92px;
    height: 92px;
    margin-right: 20px;
}

.personality-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #535353;
}

.history-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.history-text-details {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #535353;

}

.footer-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.author-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-author-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img-author-details {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border: 3px solid #85D1CE;
    border-radius: 50px;
    margin-right: 10px;
}

.name-author-details {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.005em;
    color: #0E172C;
}

.by-author-details {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.004em;
    color: #535353;
}

.btn-contact {
    text-decoration: none;
    background-color: #0E172C;
    padding: 16px;
    border-radius: 98px;
    color: #FFF;
    width: 120px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container-list-messages {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    box-sizing: border-box;
}

.div-message {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    border-radius: 8px;
    padding: 20px 8px;
    margin: 10px 20px;
    height: 80px;
}

.div-message:hover {
    cursor: pointer;
}

.img-div-message {
    border: 3px solid #85D1CE;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50px;
}

.rigth-div-message {
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.person-time-div-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    flex-shrink: 0;
}

.person-div-message {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #0E172C;
    margin: 0 0;
    padding: 0 0;
}

.time-div-message {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.004em;
    color: #535353;
}

.text-div-message {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.005em;
    color: #535353;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 38px;
}

.arrow-div-message {
    margin: 0 8px;
}

.header-details-message {
    box-sizing: border-box;
    height: 144px;
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    position: absolute;
}

.img-header-deatails-message {
    width: 64px;
    height: 64px;
    border: 3px solid #85D1CE;
    box-sizing: border-box;
    margin: 8px 0px;
    border-radius: 50px;
}

.author-header-details-message {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #0E172C;
    margin: 8px 0;
}

.input-message {
    box-sizing: border-box;
    width: 90%;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    background: #FFFFFE;
    border: 1px solid #535353;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #535353;
    margin: 20px 40px;
}

#container-messages {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 144px;
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 12px;
}

.time-message {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.005em;
    color: #0E172C;
    margin: 4px 0px;
}

.body-message {
    border-radius: 16px;
    margin: 4px 0px;
    max-width: 70%;
    padding: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.005em;

    -moz-user-select: text !important; 
    -webkit-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important; 
}

.div-message-me {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}

.message-me {
    background: #FFFFFE;
    color: #0E172C;
}

.div-message-you {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
}

.message-you {
    background: #535353;
    color: #FFF;
}

#non-message {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #0E172C;
    text-align: center;
}

@media (min-width: 600px) {
    #container {
        width: 400px;
        border: 5px solid #0E172C;
        border-radius: 20px;
    }

    .container-menu {
        border-radius: 0px 0px 20px 20px;
    }

    .container-details {
        border-radius: 16px 16px 20px 20px;
    }

    .img-details {
        border-radius: 20px 20px 0 0;
    }
    
    .header-details-message {
        border-radius: 20px 20px 0 0;
    }
}